<footer class="footer">
    <div class="container">
        <div class="footer-content color-blur-effect">
        <div class="footer-main">



            <!-- ЛОГО + EMAIL + ОПИС -->
            <div class="footer-info">
            <div class="footer-logo-container">
                <a class="footer-logo" href="./index.html">
                <div id="footer-logo" aria-hidden="true"></div>
                <span class="logo-text">Bogdanelo</span>
                </a>
            </div>

            <address>
                <a class="footer-mail" href="mailto:bogdanelo@gmail.com">bogdanelo@gmail.com</a>
            </address>

            <p class="footer-text">Web designer and front-end developer</p>
            </div>



            <!-- СОЦІАЛЬНІ МЕРЕЖІ -->
            <div class="footer-social-container">
            <p class="paragraph-footer-social">Media</p>
            <ul class="footer-social-list">
                <li class="footer-social-item">
                <a class="footer-social-link" href="#" aria-label="GitHub">
                    <div id="footer-logo-github" aria-hidden="true"></div>
                </a>
                </li>
                <li class="footer-social-item">
                <a class="footer-social-link" href="#" aria-label="Figma">
                    <div id="footer-logo-figma" aria-hidden="true"></div>
                </a>
                </li>
                <li class="footer-social-item">
                <a class="footer-social-link" href="#" aria-label="Discord">
                    <div id="footer-logo-discord" aria-hidden="true"></div>
                </a>
                </li>
            </ul>
            </div>
        </div>



        <!-- КОПІРАЙТ -->
        <div class="footer-copyright">
            <p>&copy; 2023 Bogdanelo</p>
        </div>

        
        </div>
    </div>
</footer>
