<footer class="footer">
    <div class="container">
        <div class="footer-content">


            <div>

                <div>
                    <div class="footer-logo-container">
                        <a class="footer-logo" href="./index.html">
                            <div id="footer-logo"></div>
                            Bogdanelo
                        </a>
                    </div>
                    <a class="footer-mail" href="mailto:barbers@example.com">
                        
                    </a>
                </div>

                <div class="footer-social-container">
                    <p class="paragraph-footer-social">Media</p>
                    <ul class="footer-social-list">
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="">
                                
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="">
                                
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="">
                                
                            </a>
                        </li>
                        <li class="footer-social-item">
                            <a class="footer-social-link" href="">
                                
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-copyright">
                <p>2023 Bogdanelo</p>
            </div>

            

        
        </div>
    </div>
</footer>