<header class="header" id="header">

    <div class="container">
        <div class="header-content color-blur-effect">

            <div class="logo">
                <a class="logo-link" href="./index.html">
                    <div class="logo-header" id="logo-header"></div>
                    <span class="logo-name">Bogdanelo</span>
                </a>
            </div>

            <nav class="nav" id="nav">
                <ul class="nav-list" id="nav-list">
                    <li class="list-item"><a href="./index.html"><span>#</span>дім</a></li>
                    <li class="list-item"><a href="./projects.html"><span>#</span>роботи</a></li>
                    <li class="list-item"><a href="./about.html"><span>#</span>про мене</a></li>
                    <li class="list-item"><a href="./contact.html"><span>#</span>контакти</a></li>
                </ul>

                <div class="language-switcher" aria-label="Language switcher">
                    <button class="language-switcher__button" type="button" aria-expanded="false">
                        UA
                        <span class="down-arrow-language" id="down-arrow-language"></span>
                    </button>

                    <ul class="language-switcher__dropdown">
                        <li><button data-lang="ua">UA</button></li>
                        <li><button data-lang="en">EN</button></li>
                    </ul>
                </div>

                <ul class="mobile-social-list" hidden>
                    <li class="mobile-social-item">
                    <a class="mobile-social-link" href="https://github.com/" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                        <div class="logo-mobile-menu" id="github-logo-mobile-menu"></div>
                    </a>
                    </li>
                    <li class="mobile-social-item">
                    <a class="mobile-social-link" href="https://dribbble.com/" target="_blank" rel="noopener noreferrer" aria-label="Dribbble">
                        <div class="logo-mobile-menu" id="dribble-logo-mobile-menu"></div>
                    </a>
                    </li>
                    <li class="mobile-social-item">
                    <a class="mobile-social-link" href="https://figma.com/" target="_blank" rel="noopener noreferrer" aria-label="Figma">
                        <div class="logo-mobile-menu" id="figma-logo-mobile-menu"></div>
                    </a>
                    </li>
                </ul>
            </nav>
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

