<header class="header-fadein container">
    <div class="header-content">
        <link rel="stylesheet" href="./assets/css/header.css">

        <div class="logo">
            <a class="logo-link" href="./index.html">
                <span class="logo-header" id="logo-header"></span>
                <h1 class="logo-name">Bogdanelo</h1>
            </a>
        </div>

        <nav class="nav" id="nav">
            <ul class="nav-list" id="nav-list">
                <li class="list-item"><a href="./index.html"><span>#</span>home</a></li>
                <li class="list-item"><a href="./projects.html"><span>#</span>works</a></li>
                <li class="list-item"><a href="./about.html"><span>#</span>about-me</a></li>
                <li class="list-item"><a href="./contact.html"><span>#</span>contact</a></li>
            </ul>

            <div class="language-switcher" aria-label="Language switcher">
                <button class="language-switcher__button" type="button" aria-expanded="false">
                    UA
                    <span class="down-arrow-language" id="down-arrow-language"></span>
                </button>

                <ul class="language-switcher__dropdown">
                    <li><button data-lang="ua">UA</button></li>
                    <li><button data-lang="en">EN</button></li>
                </ul>
            </div>

            <ul class="mobile-social-list" hidden>
                <li class="mobile-social-item">
                <a class="mobile-social-link" href="https://github.com/" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                    <div class="logo-mobile-menu" id="github-logo-mobile-menu"></div>
                </a>
                </li>
                <li class="mobile-social-item">
                <a class="mobile-social-link" href="https://dribbble.com/" target="_blank" rel="noopener noreferrer" aria-label="Dribbble">
                    <div id="logo-mobile-menu" class="dribbble-logo-mobile-menu"></div>
                </a>
                </li>
                <li class="mobile-social-item">
                <a class="mobile-social-link" href="https://figma.com/" target="_blank" rel="noopener noreferrer" aria-label="Figma">
                    <div class="logo-mobile-menu" id="figma-logo-mobile-menu"></div>
                </a>
                </li>
            </ul>
        </nav>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
