<aside class="media-sidebar media-sidebar-fadein" aria-label="Медіа-панель">
  <div class="vertical-line"></div>
  <ul class="media-sidebar-list">
    <li class="media-sidebar-item"><a href="https://github.com" target="_blank" aria-label="GitHub"><div id="github-logo"></div></a></li>
    <li class="media-sidebar-item"><a href="https://dribbble.com" target="_blank" aria-label="Dribble"><div id="dribble-logo"></div></a></li>
    <li class="media-sidebar-item"><a href="https://figma.com" target="_blank" aria-label="Figma"><div id="figma-logo"></div></a></li>
  </ul>

  <button class="toggle-sidebar" aria-label="Згорнути/розгорнути панель"><div id="toggle-sidebar-icon"></div></button>
</aside>
