

.about-all-content{
    padding-top: 53px;
}
.about-header-container{
    display: flex;
    flex-direction: column;

}

.about-header{
    color: var(--nav-active-color);
    font-size: 32px;
    font-family: var(--font-primary);
}
.about-header span{
    color: var(--accent-color);
}

.about-header-description{
    font-size: 16px;
    font-family: var(--font-primary);
    color: var(--nav-active-color);
    margin-top: 14px;
}

.about-me-description-text{
    
}