.image-or-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}




.hero-people-img-container{
    position: relative;
}
.logo-initials{
    position: absolute;
    top: 84px;
}
.logo-initials svg{
    width: 155px;
    height: 155px;
    color: var(--accent-color);
    stroke-width: 2px;
    stroke: var(--accent-color);
    fill: var(--accent-color);
    w
}


