.image-or-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-top: 62px;
    gap: 18px;
}


.text-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    padding: 0;
    margin-top: 74px;
}
.text-content h1{
    margin: 0;
    padding: 0;
    margin-bottom: 32px;

    font-family: var(--font-primary);
    font-size: 32px;
    font-weight: 600;
    color: var(--nav-color);
    line-height: 1.5;
}
.text-content h1 span{
    color: var(--accent-color);
}

.text-content p{
    margin: 0;
    padding: 0;
    margin-bottom: 18px;

    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: normal;
    color: var(--nav-color);

    line-height: 1.8;
    max-width: 463px;
}

.text-content button{
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;


    
    
    padding: 8px 16px;
    border: 1px solid var(--accent-color);
    color: var(--nav-active-color);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: medium;
    line-height: 1.8;

    display: flex;
    width: max-content;


}




.working-status-under-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    min-width: 400px;
    color: var(--nav-color);
    background-color: var(--background-color);
    padding: 8px;
    border: solid 1px var(--nav-color);

    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: normal;
}

.working-status-under-logo .color-box{
    width: 16px;
    height: 16px;
    background-color: var(--accent-color);
}
.working-status-under-logo strong{
    color: var(--nav-active-color);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: normal;
}


#typewriter::after {
  content: '|';
  animation: blink 1s infinite;
  margin-left: -2px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}






.quote-box{
    position: absolute;
    bottom: 0;
    right: 0;
}



.quote-box blockquote{
    font-size: 24px;
    font-weight: medium;
    color: var(--nav-active-color);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    margin: 5px;

    padding: 32px;
    border: 1px solid var(--nav-color);
    
}

.quote-box svg{
    width: 25px;
    height: auto;
    color: var(--nav-color);
}
.quotes-top-img-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: var(--background-color);
}



.hero-people-img-container{
    position: relative;
}
.logo-initials{
    position: absolute;
    top: 84px;
    left: 0px;
    z-index: -1;
}
.logo-initials svg{
    width: 155px;
    height: 155px;
    color: var(--accent-color);
}





