.button-open-options-container{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}
.button-open-options-container-content{
    position: absolute;
    z-index: 9999
}


.vertical-line-options{
    background-color: var(--media-sidebar-color);
    width: 1px;
    height: 61px;
    margin-bottom: 8px;
    transition: all 0.3s ease-in-out;
}

.button-options-container{
    position: absolute;
    right: 17px;
    top: 0px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease-in-out;
}

.button-options-container button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;

    color: var(--nav-color);
    transition: all 0.3s ease-in-out;
}


.button-hide-button-options-icon svg{
    color: transparent;
    rotate: 0deg;
    transition: all 0.3s ease-in-out;
}

.button-options-container.hidden-options{
    top: -100px;
}



.button-options-container:hover .button-hide-button-options-icon svg{
    color: var(--nav-color);
}

.button-options-container.hidden-options .button-hide-button-options-icon svg{
    rotate: 180deg;
    color: var(--nav-color);
}






/* Основне вікно */
#draggable-options {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  height: 500px;
  background-color: var(--background-color);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 10px 20px rgba(141, 79, 133, 0.2);
  z-index: 99999;
  resize: both;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* Заголовок для перетягування */
.settings-panel-header {
  padding: 10px;
  background-color: var(--accent-color-transparent);
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--nav-color);
  
}

/* Тіло вікна */
.settings-panel-body {
  padding: 15px;
  flex-grow: 1;
  overflow-y: auto;
}

/* Ховати при старті */
.hidden {
  display: none !important;
}



.button-open-options-list-list-one-level{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button-open-options-list-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.button-open-options-list-list li button{
  color: var(--nav-color);
  margin: 0;
  
}
.button-open-options-list-list li button.active{
  background-color: red;

}








/* Налаштування під телефон */
@media screen and (max-width: 767px) {
  
  
}






.button-options-container {
  position: absolute;
  right: 17px;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  /* Початковий стан - трохи вище і прозорий */
  opacity: 0;
  transform: translateY(-320px);

  /* Анімація появи */
  animation: slideDownFadeIn 0.3s ease forwards;
}

@keyframes slideDownFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
