


/* Projects Section */
.projects-content{
    padding: ;
}

.projects-header-container{
    display: flex;
    flex-direction: column;
}

.projects-header{
    color: var(--nav-active-color);
    font-family: var(--font-primary);
    font-size: 32px;
}
.projects-header span{
    color: var(--accent-color);
}
